
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h4>Automina</h4>
      <div class="nav-bar">
        <a href="/cars">All Cars</a>
      <% if (user) { %>
        <a href="/cars/new">Add Cars</a>
        <a href="/users">User</a>
      </div>
      <div>
        <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
      </div>
      
        
    </nav>

    <span>
      <div class="main">
        <h1>Car Auction</h1>
        <p>Welcome to Automina</p>
        <button>About</button>
      </div>
      <tbody>
          <!-- <div class="box-container">
          <div class="card-conatiner" id="card-1">
            <h4>Add a car</h4>
          </div>
          <div class="card-conatiner" id="card-2">
            <h4>All cars</h4>
          </div>
          <div class="card-conatiner" id="card-3">
            <h4>edit car</h4>
          </div>
          <div class="card-conatiner" id="card-4">
            <h4>all car</h4>
          </div> -->
        </div>
      </tbody>
  </span>
    
    
    
  </body>
</html>