.review-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .review-user img {
    border-radius: 50%;
    height: 40px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 40px;
  }