body {
  padding: 0;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: azure;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  height: 40px;
}

a {
  margin-left: 6px;
  text-decoration: none !important;
  font-family: sans-serif;
  font-size: 16px;
}
nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

h4 { 
  margin-left: 20px;
}