<%- include('../partials/header') %> 

<h1>All user that sigend in </h1>
<% users.forEach( function(u) { %>
    <tr>
        <td class="all-user"><img src="<%= u.avatar %> " alt="avatar" referrerpolicy="no-referrer"><%= u.name %> </td>
    </tr>
    
<% })  %> 

<%- include('../partials/footer') %> 